[ui-buttonmap]
# Main item menu
Start = exec:./clickbottommiddle_slightright.sh
# Map
Back = exec:./clickbottommiddle.sh
# Gear for Majora's Mask (nothing for Ocarina of Time)
DL = exec:./clickmiddleleft.sh
# I slot
LB = exec:./clicktopright.sh
# II slot
RB = exec:./clickbottomright.sh
# 1st person view
TL = exec:./clicktopleft.sh
# Songs
TR = exec:./clickbottomleft.sh
